<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="ITG Asia Pac FIX Client" 
            Version="3.31.0.0" 
            Manufacturer="ITG Asia Pac" 
            UpgradeCode="1776350D-3283-4EA4-856E-39E288519ED9"
            IconSourceFile="FixClient\Resources\FixClient.ico" >
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" LicenseUrl="" LogoFile="Resources/InstallerLogo.bmp"/>
        </BootstrapperApplicationRef>
        <Chain>
            <PackageGroupRef Id="NetFx45Web" />
            <MsiPackage Compressed="yes"
                        SourceFile="$(var.Setup64.TargetPath)"
                        Vital="yes"
                        DisplayInternalUI="no"/>
		</Chain>
	</Bundle>
</Wix>